<!-- ghost/templates/ghost/base.html -->
<!-- ... -->
{% load static %}
<head>
  <title>Ghost Tours</title>
  <link rel="stylesheet" href="{% static 'css/ghost.css' %}" />
</head>
<body>
  <h1 class="Masthead">DC Ghost Tours</h1>
  <div>
    <a href="{% url 'customer_create' %}" class="newsletter">Subscribe to Our Newsletter</a>
  </div>
  <footer>
      <span class="welcome">
        {% if user.is_authenticated %} Welcome, {{ user.username }}
      </span>
    <a href="{% url 'customer_list' %}">Customers</a>
    <a href="{% url 'logout' %}">Log out</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
  </footer>
  {% block content %} {% endblock %}
</body>
<!-- ... -->
  
</html>