<!-- ghost/templates/ghost/base.html -->
<!-- ... -->
{% load static %}
<head>
  <title>Ghost</title>
  <link rel="stylesheet" href="{% static 'css/ghost.css' %}" />
</head>
<body>
  <nav>
  <a href="{% url 'customer_list' %}">Customers</a>
  <div class="user-info">
    {% if user.is_authenticated %} Welcome, {{ user.username }}
    <a href="{% url 'logout' %}">Log out</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
  </div>
  </nav>
  {% block content %} {% endblock %}
</body>
<!-- ... -->
  <a href="{% url 'customer_create' %}">Subscribe to Our NewsLetter</a>
</html>